* {

    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ipt {
    border: 2px solid #dedede;

    &:focus {
        border-color: #0000ff;
    }
}

.btn{
    background-color: #0000ff;
    color: #ffffff;
    transition-duration: 300ms;

    &:hover {
        transform: rotate (360deg) scale(2, 2);
    }

}

.btn:hover {
    background-color: #000078;
}


@keyframes pular { 
    0% {
        transform: translateY(0);
       }
    50% 
        translateY(100px);
    }
    100% {
        translateY(0);
    }
}